.Nav{
    display: flex;
    width: 100%;
    top: 0px;
    justify-content: space-around;
    flex-direction: row;
    height: 65px;
    background-image: url(../img//fondoNegro.jpg);
    border-bottom: 3px solid rgb(255, 1, 107);
}
.container{
    width: 50%;
    display: flex;
}
.btn{
    color: aliceblue;
    text-decoration: none;
    margin: 3%;
}

.linkedin{
    height: 70px;
    width: 110px;
}
.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
}
.name{
    display: none;
    justify-content: center;
    align-items: center;
    color: #ff439b;
}
@media (max-width:580px){
    .container{
        display: none;
    }
    .name{
        display: flex;
    }
    .btn2{
        margin: 30px;
    }
    .links{
        width: 150px;
    }
}
@media (max-width:500px){
    .name{
        font-size: 20px;
    }
}